faker
pypdf
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
sentence-transformers
chromadb
reportlab
mcp>=1.24,<2
langchain-mcp-adapters
langchain-openai
langgraph
python-dotenv
streamlit
langchain
pytest
